<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>LockSafe</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/styles.css" rel="stylesheet" />
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        #map {
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="app">
    </div>
    <div id="map"></div>



    <script>
        /*
        var map;
        var service;
        var infowindow;

        function initMap() {
            gato = google.maps;
            var sydney = new google.maps.LatLng(-33.867, 151.195);

            infowindow = new google.maps.InfoWindow();

            map = new google.maps.Map(
                document.getElementById('map'), { center: sydney, zoom: 15 });

            var request = {
                query: 'Castillo de Chapultepec 195',
                fields: ['geometry', 'formatted_address'],
            };

            var service = new google.maps.places.PlacesService(map);

            service.findPlaceFromQuery(request, function (results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    console.log(results[0].geometry.location.lat());
                    console.log(results[0].geometry.location.lng());
                    // for (var i = 0; i < results.length; i++) {
                    //     createMarker(results[i]);
                    // }
                    // map.setCenter(results[0].geometry.location);
                }
            });
        }*/
    </script>

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    cuenta: '<%=direccion.length%>',
                    latitud: '',
                    longitud: '',
                    mapaCreado: false
                }
            },
            methods: {
                Localizacion() {
                    let sthis = this;
                    navigator.geolocation.watchPosition(function (pos) {
                        sthis.latitud = pos.coords.latitude;
                        sthis.longitud = pos.coords.longitude;
                        console.log('hola');
                        if (!sthis.mapaCreado) {
                            sthis.mapaCreado = true;
                            map = new google.maps.Map(document.getElementById('map'), {
                            center: { lat: sthis.latitud, lng: sthis.longitud },
                            zoom: 20
                        });
                        }
                        const marker = new google.maps.Marker({
                            position: { lat: sthis.latitud, lng: sthis.longitud },
                            map: map,
                        });
                    });

                }
            },
            computed: {
            },
            mounted() {
                this.Localizacion();
                // map.setCenter({ lat: sthis.latitud, lng: sthis.longitud });
                //map.getCenter().lat()
                //ap.getCenter().lng()
            },
            watch: {
            }
        })
        function initMap() { }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZYQJzcATFRSo0thLQRuSIC7ip27v_d3s&libraries=places&callback=initMap">
        </script>
    <script>
        app.mount('#app');
    </script>

</body>

</html>
<!--  -->